@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./type.scss";
@import "./custom.scss";
@import "./../assets/fonts/fonts.scss";

@layer base {
	html {
		font-family: "Inter";
	}
}

* {
	@apply antialiased;
}

.container {
	@apply max-w-[1275px] w-full mx-auto px-5 lg:px-4;
}

.sm-container {
	@apply max-w-[1161px] w-full mx-auto px-5 lg:px-4;
}

.lg-container {
	@apply max-w-[1360px] w-full mx-auto px-5 lg:px-4;
}

.btn {
	@apply text-[18px] inline-flex leading-[24px] tracking-[-0.01em] font-semibold text-white md:px-9 px-14 py-4 transition-all relative hover:opacity-95 opacity-100
	before:content-[''] before:w-full before:h-full before:bg-gradient before:absolute before:top-0 before:left-0 before:rounded-radius-sm
	after:content-[''] after:w-[calc(100%-2px)] after:h-[calc(100%-2px)] after:bg-white after:absolute after:top-px after:rounded-radius-sm after:left-px after:z-0;

	& span {
		@apply bg-clip-text bg-gradient2 z-10 relative;
		-webkit-text-fill-color: transparent;
	}
}

.btn-secondary {
	@apply text-[18px] leading-[24px] tracking-[-0.01em] font-semibold px-4 py-[7px] rounded-radius-sm border border-white text-white transition-all hover:bg-white hover:text-purple;
}

.clip {
	@apply bg-clip-text;
	-webkit-text-fill-color: transparent;
}

.input {
	@apply border border-stroke-dark placeholder:text-sub-black outline-none rounded-radius-sm w-full pl-4 py-4 pr-10 text-sub-black body-default;
}
